# Day 2

# Multiple Linear Regression

Multiple linear regression (MLR) is a statistical technique that uses several explanatory variables to predict the outcome of a response variable. It's also known as multiple regression.
MLR models the relationship between two or more explanatory variables and a response variable by fitting a linear equation to observed data. It's an extension of linear (OLS) regression, which uses just one explanatory variable.

# Code

### Creating a House Price Prediction Model using Multiple Linear Regression

In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [3]:
data = pd.read_csv("homeprices.csv")

In [4]:
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
data.describe()

              area  bedrooms        age          price
count     6.000000   5.00000   6.000000       6.000000
mean   3416.666667   4.20000  16.500000  648333.333333
std     587.934237   1.30384   8.288546  109117.673484
min    2600.000000   3.00000   8.000000  550000.000000
25%    3050.000000   3.00000   9.750000  572500.000000
50%    3400.000000   4.00000  16.500000  602500.000000
75%    3900.000000   5.00000  19.500000  722500.000000
max    4100.000000   6.00000  30.000000  810000.000000

In [6]:
import math
data_bedroom = math.floor(data.bedrooms.median())
data_bedroom

4

In [7]:
data.bedrooms = data.bedrooms.fillna(data_bedroom)

In [8]:
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [10]:
reg = linear_model.LinearRegression()
x = data[['area','bedrooms','age']]
y = data.price
reg.fit(x,y)

LinearRegression()

In [14]:
reg.predict([[3000,3,15]])

C:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([579201.19929613])

### Cost Function

A cost function is an important parameter that determines how well a machine learning model performs for a given dataset. It calculates the difference between the expected value and predicted value and represents it as a single real number.

### Gradient Descent

Gradient Descent is defined as one of the most commonly used iterative optimization algorithms of machine learning to train the machine learning and deep learning models. It helps in finding the local minimum of a function.